<div class="content" role="main">

  <nav>
    <ul class="card-container">
      <li class="card"><a routerLink="/characters" routerLinkActive="active" ariaCurrentWhenActive="page">Characters</a>
      </li>
      <li class="card"><a routerLink="/starships" routerLinkActive="active" ariaCurrentWhenActive="page">Starships</a>
      </li>
      <li class="card"><a routerLink="/planets" routerLinkActive="active" ariaCurrentWhenActive="page">Planets</a>
      </li>
    </ul>
  </nav>

   <router-outlet></router-outlet>

</div>
