<form class="search-form">
    <mat-form-field class="search-form-field" appearance="fill">
        <mat-label></mat-label>
        <input
            type="text"
            aria-label="Search characters"
            matInput
            [formControl]="searchInput"
            [matAutocomplete]="characters" data-cy="searchInput" />

        <mat-autocomplete autoActiveFirstOption #characters="matAutocomplete">
            <mat-option *ngIf="searchService.isLoading && searchInput.value !==''">Loading...</mat-option>
            <mat-option
                *ngIf="
                !searchService.isResults && 
                !searchService.isLoading && 
                searchInput.value !== ''">No results for your search
            </mat-option>
            @if (searchService.isResults && searchInput.value !==''){
            <mat-option
                *ngFor="let character of searchService.searchResult"
                [value]="character.name" (onSelectionChange)="getSelectedItem(character)">
                {{character?.name}}
            </mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
</form>